@use 'styles' as *;

.button-search {
  display: inline-block;
  padding: 21px 19px 37px 15px;
  color: $bg-color;
  font-size: $font-size-xxs;
  font-family: $font-serif;
  letter-spacing: 1.4px;
  border: none;
  white-space: nowrap;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  padding: 21px 34px 16px 64px;
  color: $bg-color;
  font-size: $font-size-xs;
  font-family: $font-serif;
  letter-spacing: 1.2px;
  border: none;
  white-space: nowrap;
  background: linear-gradient(120deg, #5474FD 70%, rgba(255, 255, 255, 0.2) 30%);
  text-transform: uppercase;
}
