@import  'footer' ;  


$font-sans: "Josefin Sans", sans-serif;
$font-serif: "Aleo", serif;

$font-size-l: 48px;
$font-size-m: 36px;
$font-size-s: 22px;
$font-size-xs: 16px;
$font-size-xxs: 14px;

$primary-color: #496BFE;
$text-color: #E8E8E8; 
$bg-color:white;


$spacing-l: 46px;
$spacing-m: 23px;
$spacing-s: 13px;


$line-height-s: 26px;

$padding:32px;


h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: $font-sans;
  font-size: $spacing-l;  
  color: $bg-color;
  letter-spacing: 4.8px;
  font-weight: bold;
}
 
h2 {
  font-family: $font-serif;
  font-size: $font-size-m;
  color: $bg-color;
}

h3{
  font-family: $font-sans;
  font-size: 20px;
  color: $bg-color;
}

p{
  font-family: $font-sans;
  font-size: $font-size-xs;
  color: $text-color;
  letter-spacing: 1.6px;
}



